[Desktop Entry]
Type=Application
Exec=/home/bryan/apps/startup.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=[USER] /home/bryan/apps/startup.sh
