@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* https://searchfox.org/mozilla-central/source/browser/base/content/browser.css */
.titlebar-spacer[type="pre-tabs"],
.titlebar-spacer[type="post-tabs"] {
    display: none !important;
}

/* https://www.reddit.com/r/FirefoxCSS/comments/ip9dxx/rounded_tabs */
.tab-background,
.tab-loading-burst {
    border: none !important;
    border-radius: 12px !important;
}

/* https://searchfox.org/mozilla-central/source/browser/themes/shared/tabs.css */
.tabbrowser-tab {
    min-height: 3.5em !important;
}
